* {
    font-family: 'Baloo 2', cursive;
}

#tabela-brasileirao {
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    border: solid 2px #222222;
    border-color: #222222;
}
.vit {
    background-color: green;
}
.emp {
    background-color: gold;
}
.der{
    background-color: red;
}

.logos {
    height: 20px;
    margin-top: 5px;
}
.posicao {
    background-color: #222222;
    width: 18px;
    color: white;
}
.time {
    text-align: left;
}

tr > th {
    background-color: #222222;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 100px;
}

th, td {
    padding: 7px;
}

tbody > :hover {
    background-color: #80ffd4;
    color: #222222;
}

button {
    border: 1px;
    border-radius: 100%;
    padding: 7px;
    margin: 10px;
}
tr {
    border-bottom: solid 2px #222222;
}
